hostname = testflight.apple.com

^https:\/\/testflight\.apple\.com\/v3\/accounts/.*\/apps$ url script-request-header https://raw.githubusercontent.com/Viyeuxa/QuantumultX-ATF/main/APP_ID_Static/TF_keys.js

